Common/CommonUtils/Schemas/LogResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1570666258641" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1570666258641">
  <complexType name="LogElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="msgCode" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="logLevel" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="message" type="string"/>
    </sequence>
  </complexType>
  <element name="LogElement" type="tns:LogElementType"/>
</schema>
